.crf_content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.crf_aside{
  flex-grow: 0;
  width: 240px;
  font-weight: bold! important
}

.crf_body{
  flex-grow: 1;
  padding-left: 20px
}

.crf_info{
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px;
  line-height: 30px;
}

.edit_title{
  color: #faad14
}

.menu_title{
  font-weight: bold
}

.menu_div{
  border: 1px solid #d8d8d8;
  border-radius: 4px
}

.menu_content{
  padding: 20px
}

.submit_button_1{
  margin-left: 80px;
  margin-top: 15px
}